@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <form>
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label class="sr-only" for="searchSite">SiteUrl</label>
                <input type="text" class="form-control mb-2" id="searchUrl" placeholder="SiteUrl">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2" id="btnSubmit">Submit</button>
            </div>
        </div>
    </form>

    <table id="table_id" class="display">
    </table>
</div>

@section scripts {

    <script type="text/javascript">

        function uuidv4() {
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            });
        }

        function getSiteUserHistory() {
            $.ajax({
                'url': "https://localhost:44325/v1/Availability/GetSiteHistoryByUser/" + localStorage.getItem("siteuser"),
                'method': "GET",
                'contentType': 'application/json'
            }).done(function (data) {
                console.log(data);
                $('#table_id').dataTable({
                    "bDestroy": true,
                    "aaData": data,
                    "aaSorting": [
                        [2, "desc"]
                    ],
                    "columns": [
                        { "data": "site" },
                        { "data": "status" },
                        { "data": "timestamp" }
                    ],
                    "createdRow": function (row, data, dataIndex) {
                        if (data["status"] == true) {
                            $('td', row).css('background-color', '#6CA580');
                        }
                        else if (data["status"] == false) {
                            $('td', row).css('background-color', '#F32013');
                        }

                    }
                })
            })
        }

        $(document).ready(function () {
            const uuid = localStorage.getItem("siteuser") || uuidv4();
            localStorage.setItem("siteuser", uuid);
            getSiteUserHistory();
            $("#btnSubmit").click(function (e) {
                e.preventDefault();
                var siteObj = {
                    UserId: localStorage.getItem("siteuser"),
                    Site: $("#searchUrl").val()
                }

                $.ajax({
                    type: "POST",
                    url: 'https://localhost:44325/v1/Availability',
                    data: JSON.stringify(siteObj),
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    success: function (data) {
                        getSiteUserHistory();
                    },
                    error: function (data) {
                        console.log("Error");
                    }
                });
            });
        });
    </script>

}


