@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table id="table_id" class="display">
    </table>
</div>

@section scripts {

    <script type="text/javascript">

        function uuidv4() {
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            });
        }

        function getSiteUserHistory() {
             $.ajax({
                'url': "https://localhost:44325/v1/Availability/GetSiteHistoryByUser/" + uuid,
                'method': "GET",
                'contentType': 'application/json'
            }).done(function (data) {
                $('#table_id').dataTable({
                    "aaData": data,
                    "columns": [
                        { "data": "Site" },
                        { "data": "Status" },
                        { "data": "Timestamp" }
                    ]
                })
            })
        }

        $(document).ready(function () {
            const uuid = localStorage.getItem("siteuser") || uuidv4();
            localStorage.setItem("siteuser", uuid);
            getSiteUserHistory(uuid);
        });

    </script>

}


