@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <form>
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label class="sr-only" for="searchSite">SiteUrl</label>
                <input type="url" pattern="https?://.+" class="form-control mb-2" id="searchUrl" placeholder="SiteUrl" required>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2" id="btnSubmit">Submit</button>
            </div>
        </div>
    </form>
    <div style="margin-bottom:50px;"></div>
    <table id="table_id" class="display">
    </table>
</div>

@section scripts {

    <script type="text/javascript">

        function uuidv4() {
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            });
        }

        function getSiteUserHistory(uuid) {
            $.ajax({
                'url': "https://siteavailabilityapi.azurewebsites.net/v1/Availability/GetSiteHistoryByUser/" + uuid,
                'method': "GET",
                'contentType': 'application/json'
            }).done(function (data) {
                console.log(data);
                $('#table_id').dataTable({
                    "bDestroy": true,
                    "aaData": data,
                    "aaSorting": [
                        [2, "desc"]
                    ],
                    "columns": [
                        { "data": "site","title" : "Site Name" },
                        { "data": "status", "title" : "Status" },
                        { "data": "timestamp","title" : "Searched On" }
                    ],
                    "createdRow": function (row, data, index) {
                        if (data.status == true) {
                            $('td', row).eq(1).text('Site is Up');
                        } else {
                            $('td', row).eq(1).text('Site is Down');
                        }
                    },
                })
            })
        }

        $(document).ready(function () {
            const uuid = localStorage.getItem("siteuser") || uuidv4();
            localStorage.setItem("siteuser", uuid);
            setInterval(function () { getSiteUserHistory(uuid); }, 1000);


            $("#btnSubmit").click(function (e) {
                e.preventDefault();
                var siteObj = {
                    UserId: localStorage.getItem("siteuser"),
                    Site: $("#searchUrl").val()
                }

                $.ajax({
                    type: "POST",
                    url: 'https://siteavailabilityapi.azurewebsites.net/v1/Availability',
                    data: JSON.stringify(siteObj),
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    success: function (data) {
                        getSiteUserHistory(uuid);
                    },
                    error: function (data) {
                        console.log("Error");
                    }
                });
            });
        });
    </script>

}


